@font-face {
    font-family: "Circe";
    src: local('Circe-300'),
    url("../fonts/Circe-300.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circe";
    src: local('Circe-400'),
    url("../fonts/Circe-400.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circe";
    src: local('Circe-700'),
    url("../fonts/Circe-700.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circe";
    src: local('Circe-800'),
    url("../fonts/Circe-800.woff") format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}